<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NatureEmoi - Ventes de plantes en ligne</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>
</head>
<body>
        <header class="header header-article">
            <nav class="nav">
                <li><a href="/">Accueil</a></li>
                <li><a href="/#bests-items">Nos meilleurs ventes</a></li>
                <li><a href="/#all-plants">Nos plantes</a></li>
                <li><a href="/panier">Panier</a></li>
            </nav>
        </header>

<div class="article-plant">
    <div class="article-plant-container">
        <div class="div-plant-img">
            <% if (plant.category === "meilleure vente") { %>
                <img src="/images/nos_meilleures_ventes/<%=plant.id%>.jpg" alt="photo de la plante" class="plant-img">
            <% } else  { %> 
                <img src="/images/nos_plantes/<%=plant.id%>.jpg" alt="photo de la plante" class="plant-img">
            <% } %>
        </div>
        <div class="plant-desc">
            <a href="article/<%=plant.id%>" class="plant-name"><%=plant.name%></a>
            <p><%=plant.description%></p>
            <p class="plant-price"><%=plant.price%> €</p>
            <button class="add-cart"><a href="/panier/add/<%=plant.id%>" class="add-cart">Ajouter au panier</a></button>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
