<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NatureEmoi - Ventes de plantes en ligne</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>
</head>
<body>
        <header class="header header-cart">
            <img src="images/logo.png" alt="Logo du site">
            <nav class="nav">
                <li><a href="/">Accueil</a></li>
                <li><a href="/#bests-items">Nos meilleurs ventes</a></li>
                <li><a href="/#all-plants">Nos plantes</a></li>
                <li><a href="/panier">Panier</a></li>
            </nav>
        </header>

<section class ="cart-container">
    <h3 class="section-title cart-title">Votre panier</h3>

    <table class="table">
        <thead>
            <th>Article</th>
            <th>Quantité</th>
            <th>Prix</th>
            <tbody>
                <% for (const plant of cart) { %>
                <tr>
                    <td class="item-detail">
                        <% if (plant.category === "meilleure vente") { %>
                            <img src="/images/nos_meilleures_ventes/<%=plant.id%>.jpg" alt="photo de la plante" class="plant-img-cart">
                        <% } else  { %> 
                            <img src="/images/nos_plantes/<%=plant.id%>.jpg" alt="photo de la plante" class="plant-img-cart">
                        <% } %>

                      <div class="item-description">
                          <p class="plant-name"><%=plant.name%>
                            <span class="plant-price"><%=plant.price%> €</span>
                        </p>
                      </div>
                    </td>
                    <td>
                      <strong><%=plant.quantity%></strong>
                      <a href="/panier/add/<%=plant.id%>">+</a> / <a href="/panier/delete/<%=plant.id%>">-</a>
                    </td>
                    <td>
                      <p class="item-subtotal"><%=plant.subTotal%>€</p>
                    </td>
                </tr>
                <% } %>
                
                <tr>
                    <td class="text-right" colspan="2">
                    Frais de port
                    </td>
                    <td class="item-subtotal">
                    9.90 €
                    </td>
                </tr>

                <tfoot>
                
                    <tr class="row-total">
                    <td class="text-right" colspan="2">
                        Total TTC
                    </td>
                    <td class="item-total">
                        <%=details.total%> €
                    </td>
                    </tr>

                </tfoot>

            </tbody>

    </table>

    <div class="btn btn-success">
        Passer Commande
      </div>


</section>
<%- include('partials/footer') %>